<style type="text/css">
  .choices-block {
    list-style-type: none;
  }
</style>
<h2>Quizzy Quiz</h2>

<h4>PICK A QUIZ:</h4>

<div class="menu-display">
  <ol id="menu">
  </ol>
</div>

<h4>YO QUIZ GOT QUESTIONS:</h4>
<div id="quizzes-display">
  
</div>