<h2>Quizzy Quiz</h2>

<p>Your single page app should go here.</p>

<div class="quizzes-display">
  
</div>

<script type="text/template" class="my-template">
  <h1><%%= content.title %></h1>
</script>