<style type="text/css">
  .choices-block {
    list-style-type: none;
  }
</style>
<h1>Quizzy Quiz</h1><br>

<div class="menu-display">
  <ol id="menu">
  </ol>
</div>

<div id="quizzes-display">
  
</div>

<script type="text/template" class="quizzes-template">
  <h2>YOU WANT QUIZ YOU GET QUIZ:<h2>
  <ul>
    <%% _.each(quizzes, function(quiz) { %>
      <li class='quiz' data-id='<%%= quiz.id %>'><%%= quiz.title %></li>
    <%% }) %>
  </ul>
</script>