<style type="text/css">
  .choices-block {
    list-style-type: none;
  }
</style>
<h1>Quizzy Quiz</h1><br>

<div class="menu-display">
  <ol id="menu">
  </ol>
</div>

<div id="quizzes-display">
  
</div>

<script type="text/template" class="quizzes-template">
  <h2>YOU WANT QUIZ YOU GET QUIZ:</h2>
  <ul>
    <%% _.each(quizzes, function(quiz) { %>
      <li class='quiz' data-id='<%%= quiz.id %>'><%%= quiz.title %></li>
    <%% }) %>
  </ul>
</script>

<script type="text/template" class="questions-template">
  <h2><%%= questionIterator + 1 %>: <%%= questions.question %></h2>
  <form id='question-form' data-questioniterator='<%%= questionIterator %>' data-quizid='<%%= questions.quizID %>' data-questionid='<%%= questions.questionID %>'>
  <ul class='choices-block'>
    <%% questions.choices.forEach(function(choice, index) { %>
      <li class='choice'>
        <input type="radio" name='<%%= questions.questionID %>' id='<%%= index %>' value='<%%= choice %>'>
        <label for='<%%= index %>'><%%= choice %></label>
      </li>
    <%% }) %>
  </ul>
  <br>
  <input type='submit' id='question-submit'>
  </form>
</script>

<script type="text/template" class="create-quiz-template">
  <form id='quiz-title'>
    <label for="quiz-title">Quiz Title: </label><input type="text" id="quiz-title-input" name='quiz-title'>
  </form>
</script>

<script type="text/template" class="result-template">
  <h1><%%= result %></h1>
</script>

<script type="text/template" class="score-template">
  <h1>YOU SCORE: <%%= score %></h1>
  <p>y u do diz?</p>
</script>

<script type="text/template" class="new-quiz-button-template">
  <div id="create-display">
    <button type="button" class="create-new-quiz">CLICK THIS BUTTON TO CREATE JAPANESE HAM SANDWICH (or a quiz)</button>
  </div>
</script>