<h2>Quizzy Quiz</h2>

<h4>Select a quiz:</h4>

<ul id="menu">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3
    <ul>
      <li>Item 3-1</li>
      <li>Item 3-2</li>
      <li>Item 3-3</li>
      <li>Item 3-4</li>
      <li>Item 3-5</li>
    </ul>
  </li>
  <li>Item 4</li>
  <li>Item 5</li>
</ul>

<div class="quizzes-display">
  
</div>

<script type="text/template" class="my-template">
  <h1><%%= content.title %></h1>
</script>