<style type="text/css">
  .choices-block {
    list-style-type: none;
  }
</style>
<h2>Quizzy Quiz</h2>

<h3>PICK A QUIZ:</h3>

<div class="menu-display">
  <ol id="menu">
  </ol>
</div>

<div id="quizzes-display">
  
</div>

<script type="text/template" class="question-template">
  <h3><%%= questionIterator + 1 %>: <%%= content[questionIterator].question %></h3>
  <form id='form-submit' data-quizID="<%%= quizID %>" data-questioniterator="<%%= questionIterator %>" data-questionID="<%%= content[questionIterator].id %>" data-lastquestionid="<%%= content[content.length - 1].id %>" data-score="<%%= score %>">
    <ul class='choices-block'>
      <%% var options = content[questionIterator].choices.split(';') %>
      <%% options.forEach(function(option, index) { %>
        <%% var uniqueID = "question-" + content[questionIterator].id + "-choice-" + index %>
        <li><input type='radio' name='question-<%%= content[questionIterator].id %>' value='<%%= option %>' id='<%%= uniqueID %>'><label for='<%%= uniqueID %>'><%%= option %></label></li>
      <%% }) %>
    </ul>
    <br><input type='submit' id='question-submit'>
  </form>
</script>

<script type="text/template" class="answer-template">
  <h1><%%= result %></h1>
</script>